<!DOCTYPE html>
<html lang="en">
    <head>
    <title><%= title%></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="/js/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css">    
    <script src="/js/bootstrap.min.js"></script>
    <script src="//use.edgefonts.net/lobster-two.js"></script>
    <style>
      p.headingFont{
        font-family: lobster-two, cursive;
        font-size: 32px;
      }
    </style>
    </head>
    <body> 
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">I Love My City!</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="/berlin">Berlin</a></li>            
                <li><a href="/paris">Paris</a></li>
                <li><a href="/madrid">Madrid</a></li>
                <li><a href="/london">London</a></li>
                <li><a href="/newyork">Newyork</a></li>
            </ul>
            </div>
        </nav>
        <div class="Container">
        <p align="center" class="headingFont">
            <%= headline%>
        </p>        
            <div class="row">
                <div class="col-sm-12">
                    <img src="/images/main.jpg" class="img-responsive" alt="ilovemycity"/>
                </div>
            </div>
        </div>    
    </body>
</html>